@model hris.Models.ref_lvl_jabatan

@{
    Layout = null;
}

<div class="modal-header bg-teal">
    <h5 class="modal-title">Edit Data</h5>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<form action="#" class="form-validate-jquery">
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-group">
            <input id="edit_lvl_jabatan_id" type="hidden" value="@(Model.lvl_jabatan_id)" />
            <label>Nama Divisi</label>
            <input id="edit_lvl_jabatan" type="text" class="form-control" value="@(Model.lvl_jabatan)" required>

        </div>
    </div>
    <div class="modal-footer">
        <button id="Edit" type="button" class="btn bg-primary">Save</button>
    </div>
</form>

<script type="text/javascript">
    $("#Edit").click(function (e) {
        e.preventDefault();

        var posLvl = new Object();
        posLvl.lvl_jabatan_id = $('#edit_lvl_jabatan_id').val();
        posLvl.lvl_jabatan = $('#edit_lvl_jabatan').val();
        var token = $('input[name=__RequestVerificationToken]').val();

        if (divisi.divisi_id != "") {
            $.ajax({
                url: '@Url.Action("Edit")',
                type: 'POST',
                data: { __RequestVerificationToken: token, ref_Lvl_Jabatan: posLvl },
                success: function (data) {
                    $('#EditModal').modal('hide');
                    if (data == "0")
                        new Noty({
                            text: 'Data has been added successfuly.',
                            type: 'success',
                            callbacks: {
                                afterClose: function () {
                                    location.reload();
                                }
                            }
                        }).show();
                    else
                        new Noty({
                            text: 'Data has failed to be saved.',
                            type: 'error'
                        }).show();
                },
                error: function () {
                    $('#AddModal').modal('hide');
                    new Noty({
                        text: 'Data has failed to be saved.',
                        type: 'error'
                    }).show();
                }
            });
        }
    });
</script>